nb-configuration.xml
target/classes
target/DemoAppJSF-1.0-SNAPSHOT
target/DemoAppJSF-1.0-SNAPSHOT.war
target/endorsed
target/generated-sources
target/maven-archiver
target/maven-status
target/surefire
